-

    var project = [{
            name: 'spinning boxes',
            path: 'js_canvas/spinning_boxes',
            description: '',
            category: 'graphics',
            date: '2019-04-29'
        }, {
            name: 'rocking triangles',
            path: 'js_canvas/triangle_stop-motion',
            description: '',
            category: 'graphics',
            date: '2019-04-28'
        }, {
            name: 'triangle paths',
            path: 'js_canvas/paths_of_triangles',
            description: '',
            category: 'graphics',
            date: '2019-04-28'
        }, {
            name: 'linear expansion',
            path: 'js_canvas/linear_expansion',
            description: 'Now this is epic.',
            category: 'graphics',
            date: '2019-04-19'
        }, {
            name: 'better ant',
            path: 'js_canvas/better_ant',
            description: 'Browsing the web i found <a href="http://rossscrivener.co.uk/projects/langtons-ants/" target="_blank" rel="noopener noreferrer">this demonstration of Langtons Ant</a> and noticed the much better performance, so being inspired to improve my attempt I did so. And also changed the color.',
            category: 'graphics',
            date: '2019-04-11'
        }, {
            name: 'flowing squares',
            path: 'js_canvas/flowing_squares',
            description: "This one uses various techniques that i've learned such as border detection, Class creation, moving a defined shape etc. creating this rug of squares, bouncing from wall to wall. Like those DVD screensavers.",
            category: 'graphics',
            date: '2019-04-12'
        }, {
            name: 'hollow boxes',
            path: 'three.js/hollow_boxes',
            description: 'For this one I went back to the 3D shape/webGL library <a href="https://threejs.org/" target="_blank" rel="noopener noreferrer">three.js</a> and played around with stacking boxes further away but with decreasing size, using a depth material for the mesh, and blabla. Looks nice.',
            category: 'graphics',
            date: '2019-04-09'
        }, {
            name: 'point illusion',
            path: 'js_canvas/look_in_the_middle',
            description: 'Same as last, difference being is the circle motioned drawing speed. Making for a very slowly adding of blackness with expanding patterns that you barely notice at first.',
            category: 'graphics',
            date: '2019-03-21'
        }, {
            name: 'black donut',
            path: 'js_canvas/black_donut',
            description: "Really like this one, not much to say but, it's cool 😎.",
            category: 'graphics',
            date: '2019-03-23'
        }, {
            name: 'bubble bg dark',
            path: 'js_canvas/faded_bubbles_dark',
            description: '',
            category: 'graphics',
            date: '2019-03-22'
        }, {
            name: 'bubble bg',
            path: 'js_canvas/faded_bubbles',
            description: 'Successful recreated version with depth effect and even a splash of color.',
            category: 'graphics',
            date: '2019-03-21'
        }, {
            name: 'black hole',
            path: 'js_canvas/black_hole',
            description: 'This one is one of my favourites, just because it feels very clean and reminds me of being little and seeing similar shapes and animations which would get me stuck staring at them for just a bit too long.',
            category: 'graphics',
            date: '2019-03-20'
        }, {
            name: 'colours',
            path: 'js_canvas/colours',
            description: 'Having a bit more experience I decided to move away from using libraries to learn more about the basics of JavaScript. Which turned out to be a good idea making me discover a technique for creating cool patterns. Such as this one.',
            category: 'graphics',
            date: '2019-03-20'
        }, {
            name: '3d shapes bg',
            path: 'three.js/3Dspheres_BG',
            description: 'Edited the last one a bit so that it could be used as a background, the moving is actually the camera rotating along its axes.',
            category: 'graphics',
            date: '2019-03-07'
        }, {
            name: '3d shapes',
            path: 'three.js/3Dspheres',
            description: 'Found a library: <a href="https://threejs.org/" target="_blank" rel="noopener noreferrer">three.js</a> making it easy to create 3D shapes and animations. So, i defined a cube, plopped a couple of rotating shapes with random colors and added camera controls.',
            category: 'graphics',
            date: '2019-03-06'
        }, {
            name: 'langtons ant',
            path: 'paper.js/langtonsAnt',
            description: 'Working version of <a href="https://en.wikipedia.org/wiki/Langton%27s_ant" target="_blank" rel="noopener noreferrer">Langtons Ant</a> 👌.',
            category: 'graphics',
            date: '2019-03-06'
        }, {
            name: 'langtons failure',
            path: 'paper.js/langtonsAttempt',
            description: "I've known about <a href='https://en.wikipedia.org/wiki/Langton%27s_ant' target='_blank' rel='noopener noreferrer'>Langtons Ant</a> for awhile and wanted to tackle it since i'd learnt a bit about canvas coding, did not work as expected. Looks pretty.",
            category: 'graphics',
            date: '2019-03-02'
        }, {
            name: 'clear pixels',
            path: 'paper.js/pixelGrid_clear',
            description: '"Fixed" the last one and got the right resolution for the squares making it much clearer.',
            category: 'graphics',
            date: '2019-03-01'
        }, {
            name: 'blurry pixels',
            path: 'paper.js/pixelGrid_blurry',
            description: 'Trying another library: <a href="http://paperjs.org/" target="_blank" rel="noopener noreferrer">paper.js</a> which I use for the next 3 projects. Played around with squares, pixel-grids and colours, the blurry effect is actually me not scaling the squares the right amount, albeit buggy, cool effect.',
            category: 'graphics',
            date: '2019-03-01'
        }, {
            name: 'bubbles',
            path: 'paper.js/bubbles',
            description: 'Did not actually make this one myself although i thought it looked cool, and so later I made one myself without the help of PixiJS.',
            category: 'graphics',
            date: '2019-03-01'
        }, {
            name: 'shaky triangles',
            path: 'pixi_js/randomPolygonPositions',
            description: 'Went a bit further with the polygon creation. In this one the points defining the shape are moving around randomly(a bit jittery, but funny).',
            category: 'graphics',
            date: '2019-02-28'
        }, {
            name: 'polygon',
            path: 'pixi_js/rotatingPolygons',
            description: 'Created a polygon, bit harded since you have to defined the points of the shape, also made it spin 😌.',
            category: 'graphics',
            date: '2019-02-28'
        }, {
            name: 'rectangle',
            path: 'pixi_js/rotatingRectangle',
            description: 'First canvas drawing in JavaScript i managed to create, using a library: <a href="http://www.pixijs.com/" target="_blank" rel="noopener noreferrer">PixiJS</a>, that I used for the next 3 aswell.',
            category: 'graphics',
            date: '2019-02-26'
        }, {
            name: 'idle',
            path: 'idle/idle',
            description: 'My first "real" game. You click on a button to get gold and then with that gold purchase units to collect even more gold for you.',
            category: 'games',
            date: '2019-02-25'
        }, {
            name: 'idle jquery',
            path: 'idle/idle_jquery',
            description: 'Same as the last one, just written with a code library 👍.',
            category: 'games',
            date: '2019-02-21'
        }, {
            name: 'units',
            path: 'units',
            description: 'Another attempt at a game. I wanted to try making a game where the units create eachother, so I made this where that is so and you can name/create your own units too.',
            category: 'games',
            date: '2019-04-02'
        }
    ];
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="msapplication-config", content="/browserconfig.xml")
        meta(name="msapplication-TileColor", content="#ff009d")
        meta(name="application-name", content="frogl")
        meta(name="apple-mobile-web-app-title", content="frogl")
        meta(name="frogl", content="#FFFFFF")
        meta(name="Description", content="JavaScript/HTML canvas art and games")
        meta(name="theme-color", content="#FFFFFF")
        link(rel="icon", type="image/png", sizes="32x32", href="/images/icons/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/images/icons/favicon-16x16.png")
        link(rel="mask-icon", href="/images/icons/safari-pinned-tab.svg", color="#ff009d")
        link(rel="shortcut icon", href="/images/icons/favicon.ico")
        link(rel="manifest", href="/site.webmanifest")
        link(rel="stylesheet", href="/style/fonts.css")
        link(rel="stylesheet", href="/style/main.css")
        script(src="/events.js", defer)
        noscript Your browser either does not support JavaScript or it is disabled, consider using a more modern browser or enable JavaScript to enjoy my website! :D
        title frogl
    body(width="100%", height="100%")
        #wrap(width="100%", height="100%")
            header
                .box.nav
                    #nav-left
                        #logo
                            a(href="https://frogl.herokuapp.com")
                                img(src="/images/icons/favicon-114x114.png", alt="logo")
                    #nav-right
                        span.link
                            a(data-show=0) PROJECTS
                        span.link
                            a(data-show=1) DESCRIPTIONS
                        span.link
                            a(data-show=2) SETTINGS
                        .nav-mobile
                            input#menu-btn.menu-btn(type="checkbox")
                            label.menu-icon(for="menu-btn")
                                span.navicon
                            .mobile-links
                                .mobile-link
                                    a(data-show=0) PROJECTS
                                .mobile-link
                                    a(data-show=1) DESCRIPTIONS
                                .mobile-link
                                    a(data-show=2) SETTINGS
            main
                #project-iframe.box
                    h1#project-title FLOWING SQUARES
                    iframe#frontframe(sandbox="allow-same-origin allow-scripts", src="projects/graphics/js_canvas/flowing_squares/", title="projectiframe", frameborder="0", scrolling="no")
                #projects.box
                    .category
                        .grid
                            each item in project
                                .project
                                    .thumbnail
                                        if item.category === 'graphics'
                                            img(data-src='projects/graphics/'+item.path+'/index.html', src='/images/thumbnails/'+item.name+'.png', alt=item.name)
                                        else if (item.category === 'games')
                                            img(data-src='projects/games/'+item.path+'/index.html', src='/images/thumbnails/'+item.name+'.png', alt=item.name)
                                    p=item.name
                #descriptions.box
                    #games.category
                        .category-head
                            img.arrow(src="/images/util/triangle.svg", alt="hide/show")
                            .categoryName GAMES
                        .project-list
                            each item in project
                                if item.category === 'games'
                                    .project
                                        a.thumbnail(href='projects/games/'+item.path+'/index.html', target='_blank', rel='noopener noreferrer')
                                            img(src='/images/thumbnails/'+item.name+'.png', alt=item.name)
                                        p
                                            b=item.name
                                            i=' - '+item.date
                                            br
                                            !=item.description
                    #graphics.category
                        .category-head
                            img.arrow(src="/images/util/triangle.svg", alt="hide/show")
                            .categoryName GRAPHICS
                        .project-list
                            each item in project
                                if item.category === 'graphics'
                                    .project
                                        a.thumbnail(href='projects/graphics/'+item.path+'/index.html', target='_blank', rel='noopener noreferrer')
                                            img(src='/images/thumbnails/'+item.name+'.png', alt=item.name)
                                        p
                                            b=item.name
                                            i=' - '+item.date
                                            br
                                            !=item.description
                #settings.box
                    .box-header
                        h2 SETTINGS
                    .settings-list
                        .setting
                            .setting-title
                                h3 UI COLOR
                            .settings-box
                                input#select-ui-color(type='color')
                                p#current-ui-color
                        .setting
                            .setting-title
                                h3 LANDING PAGE
                            .settings-box
                                select#select-landing-page(name="select-landing-page")
                                    option(value="PROJECTS") PROJECTS
                                    option(value="DESCRIPTIONS") DESCRIPTIONS
                                    option(value="SETTINGS") SETTINGS
                                p#current-landing-page
                        .setting
                            .setting-title
                                h3 DEFAULT PREVIEW
                            .settings-box
                                .settings-inner-top
                                    img#current-default-project-image(src="", alt="")
                                .settings-inner-bot
                                    select#select-default-project(name="select-default-project")
                                        each item in project
                                            if item.category === 'graphics'
                                                option(value='projects/graphics/'+item.path+'/index.html', label=item.name.toUpperCase())
                                            if item.category === 'games'
                                                option(value='projects/games/'+item.path+'/index.html', label=item.name.toUpperCase())
                                    p#current-default-project
                    .buttons
                        .button#save
                            p SAVE
                        .button#reset
                            p RESET
            footer
                .box.footer
                    #footer-left
                        #footer-logo
                            a(href="https://frogl.herokuapp.com")
                                img(src="/images/icons/favicon-114x114.png", alt="footer-logo")
                    #footer-right
                        span.footer-link
                            a(href='https://github.com/frankpettersson/frogl', target='_blank', rel='noopener noreferrer')
                                img(src='/images/icons/GitHub-Mark-64px.png', alt='github')
                        span.footer-link
                            a(href='mailto:frank.pettersson1@gmail.com', target='_top')
                                p MAIL